extend layout.pug

block content
    section#content
      h2= text
      if hint
        p
          i Hint: #{hint}
      if linkText === 'Answer'
        a(href=`./${id}?side=answer`) #{linkText}      
      else
        a(href=`./${id}?side=question`) #{linkText}  